<!DOCTYPE html>
<html lang="ja">

<head>
 <meta charset="UTF-8">
 <title>original2-2</title>
 <link rel="stylesheet" href="style.css" type="text/css" media="screen" >
</head>

<body>

<div id="wrapper">
<!--ヘッダー-->
<header>
  <h1>
   見出し何か入れる<br>
   <span>タイトル考える</span>
  </h1>
<nav>
<ul>
  <li><a href="./index.html">トップページ</a></li>
  <li><a href="./menu.html">メニュー</a></li>
  <li><a href="./contact.html">予約・問い合わせ</a></li>
</ul>
</nav>

<div class="clear"></div>

<p id="nav_tel">
<img src="images/tel_nav.jp" alt="電話予約はこちら 012-345-6789" >
</p>

</header>
<!--ヘッダー-->

<!--メイン画像-->
<div id="mainimage" class="box-shadow">
  <img src="images2/main2.jpg " alt="メイン画像" >
</div>
<!--メイン画像-->

<!--左-->
<div id="left" class="box-shadow">
   <h2>新着情報</h2>
   <ul>
   <li><span>2021.02.26</span>
    タイトル1を入れる</li>
    <li><span>2021.02.25</span>
      タイトル2を入れる</li>
      <li><span>2021.02.24</span>
        タイトル3を入れる</li>
        <li><span>2021.02.23</span>
          タイトル4を入れる</li>
          <li><span>2021.02.22</span>
            タイトル5を入れる</li>
            <li><span>2021.02.21</span>
              タイトル6を入れる</li>
   </ul>
</div>
<!--左-->

<!--右-->
<div id="right">
  <ul>
    <li class="box-shadow"><a id="contact" href="./menu.html">メニュー一覧</a></li>
    <li class="box-shadow"><a id="blog" href="./contact.html">予約・問い合わせ</a></li>
  </ul>
</div>
<!--右-->

<div class="clear"></div>

</div> <!--#//wrapper-->

<!--フッター-->
<footer>
  <p>K.I(C)</p>
</footer>
<!--フッター-->
</body>

</html>

