<!DOCTYPE html>
<html lang="ja">

<head>
 <meta charset="UTF-8">
 <title>original2</title>
 <link rel="stylesheet" href="style.css" type="text/css" media="screen" >
</head>

<body>

<div id="wrapper">
<!--ヘッダー-->
<header>
  <h1>
   見出し何か入れる<br>
   <span>タイトル考える</span>
  </h1>
<nav>
<ul>
<li><a href="./index.html">トップページ</a></li>
<li><a href="./menu.html">メニュー</a></li>
<li><a href="./contact.html">予約・問い合わせ</a></li>
</ul>
</nav>

<div class="clear"></div>

<p id="nav_tel">
<img src="images/tel_nav.jp" alt="電話予約はこちら 012-345-6789" >
</p>

</header>
<!--ヘッダー-->

<!--見出し-->
<h2 id="heading" class="box-shadow">
  メニュー一覧
</h2>
<!--見出し-->

<!--左-->
<div id="left" class="box-shadow">
   <h3>メニュー</h3>
   <dl>
    <dt>醤油ベース</dt>
     <dd>
       特製ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・1,000yen<br>
       味玉ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・・830yen<br>
       醤油ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・・730yen
     </dd>  
     <dt>味噌ベース</dt>
     <dd>
      特製ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・1,000yen<br>
      味玉ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・・830yen<br>
      味噌ラーメン・・・・・・・・・・・・・・・・・・・・・・・・・・・・・730yen
     </dd>  
     <dt>つけ麺</dt>
     <dd>
      特製つけ麺・・・・・・・・・・・・・・・・・・・・・・・・・・・・・1,000yen<br>
      味玉つけ麺・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・830yen<br>
      醤油つけ麺・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・730yen
     </dd>  
  </dl>
</div>
<!--左-->

<!--右-->
<div id="right">
  <ul>
    <li class="box-shadow"><a id="contact" href="./index.html">トップページ</a></li>
    <li class="box-shadow"><a id="blog" href="./contact.html">予約・問い合わせ</a></li>
  </ul>
</div>
<!--右-->

<div class="clear"></div>

</div> <!--#//wrapper-->

<!--フッター-->
<footer>
  <p>K.I(C)</p>
</footer>
<!--フッター-->
</body>

</html>

